﻿
@{
    ViewData["Title"] = "Unit";
}

<div class="flip-container" onclick="this.classList.toggle('flip')">
    <div class="flipper">
        <div class="front">
            <img src="~/img/FlashCard.jpg" />
            <div class="text-card">FRONT</div>
        </div>
        <div class="back">
            <img src="~/img/FlashCard.jpg" />
            <div class="text-card">BACK</div>
        </div>
        </div>
    </div>

