﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/boostrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header class="container-fluid">
            <span>FlashCards</span>
            <span class="fa fa-user fa-lg" id="account-header">AccountPlaceholder</span>
    </header>

    <div>
        @RenderBody()
    </div>
    
    <footer class="footer">FooterPlaceholder</footer>
</body>
</html>
