﻿@model FlashCardsPresentation.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <h2>FlashCards</h2>
    <br />
    <section class="login-form">
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <h4>Identifiez-vous</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="label-password-login">
                    <label asp-for="Password"></label>
                </div>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <p>
                    <a asp-action="ForgotPassword">Mot de passe oublié?</a>
                </p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-block">Identifiez-vous</button>
            </div>
        </form>
    </section>
</div>

