﻿body{
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    border-bottom: 0.1rem solid;
    border-color: #e0dede;
    margin-bottom: 2rem;
}

#account-header{
    align-self: flex-end;
}

.flip-container{
    position: relative;
    text-align: center;
    perspective: 1000px;
}

.flip-container, .front, .back{
    width: 518px;
    height: 318px;
}

.flip .flipper{
    transform: rotateY(180deg);
}

.flipper{
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front{
    z-index: 2;
    transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}

.text-card{
    position: absolute;
    top: 70%;
    left: 60%;
    font-size: 200%;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form{
    width: 30rem;
    padding: 2rem;
    border: .1rem groove;
    border-radius: 5px;
}

.label-password-login{
    display: flex;
    justify-content: space-between;
    height: 25px;
}